<!DOCTYPE html>
<html lang="en" class="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/assets/simple-datatables.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/assets/all.js"></script>
    <link rel="stylesheet" href="/Toast/Toast.min.css">

</head>
<body class="sb-nav-fixed">
    <div th:replace="racine :: navbar"></div>
    <div id="layoutSidenav">
        <div th:replace="racine :: aside"></div>


    </div>

    <script src="/assets/bootstrap.bundle.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/Toast/Toast.min.js"></script>
</body>
</html>

