<!DOCTYPE html>
<html lang="fr" class="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solde Client</title>
    <link rel="stylesheet" href="/assets/simple-datatables.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/assets/all.js"></script>
    <link rel="stylesheet" href="/Toast/Toast.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
</head>
<body class="sb-nav-fixed">

<div th:replace="racine :: navbar"></div>

<div id="layoutSidenav">
    <div th:replace="racine :: aside"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container mt-4">
                <div class="card shadow-sm">
                    <header class="card-header bg-primary text-white">
                        <h5 class="mb-0">
                            <i class="mdi mdi-wallet"></i> Solde Client
                        </h5>
                    </header>
                    <div class="card-body">
                        <div class="text-center">
                            <h4 class="font-weight-bold">Votre Solde</h4>
                            <p class="mt-2">
                                <span class="badge bg-success p-3 fs-4">
                                    <i class="mdi mdi-cash"></i> <span th:text="${solde}">0</span> MGA
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="/assets/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/Toast/Toast.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var successMessage = /*[[${success}]]*/ null;
    var errorMessage = /*[[${erreur}]]*/ null;

    if (successMessage) {
        Toastify({
            text: successMessage,
            duration: 3000,
            close: true,
            gravity: "top",
            position: "right",
            backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
            stopOnFocus: true,
        }).showToast();
    }

    if (errorMessage) {
        Toastify({
            text: errorMessage,
            duration: 3000,
            close: true,
            gravity: "top",
            position: "right",
            backgroundColor: "linear-gradient(to right, #ff5f6d, #ffc371)",
            stopOnFocus: true,
        }).showToast();
    }
    /*]]>*/
</script>

</body>
</html>
