<!DOCTYPE html>
<html lang="en" class="" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Demande</title>
  <link rel="stylesheet" href="/assets/simple-datatables.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/assets/all.js"></script>
  <link rel="stylesheet" href="/Toast/Toast.min.css">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
</head>
<body class="sb-nav-fixed">
<div th:replace="racine :: navbar"></div>
<div id="layoutSidenav">
  <div th:replace="racine :: aside"></div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container">
        <header class="card-header mb-4">
          <p class="card-header-title">
            <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
            Liste demande
          </p>
        </header>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Adresse</th>
              <th>CIN</th>
              <th>Images</th>
              <th>Date de naissance</th>
              <th>Tel</th>
              <th>Date de demande</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="demande : ${demandes}">
              <td class="px-4 py-3" th:text="${demande.nom}"></td>
              <td class="px-4 py-3" th:text="${demande.prenom}"></td>
              <td class="px-4 py-3" th:text="${demande.adresse}"></td>
              <td class="px-4 py-3" th:text="${demande.CIN}"></td>
              <td class="px-4 py-3">
                <div class="d-flex justify-content-start">
                  <img th:src="@{'http://localhost:8081/' + ${demande.image}}" alt="Image" class="rounded mx-1" onclick="openModal(this.src)" style="width: 50px; height: auto; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-bs-backdrop="false"/>
                  <img th:src="@{'http://localhost:8081/Uploads/' + ${demande.imageCIN}}" alt="Image CIN" class="rounded mx-1" onclick="openModal(this.src)" style="width: 50px; height: auto; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-bs-backdrop="false"/>
                </div>
              </td>
              <td class="px-4 py-3" th:text="${demande.dateNaissance}"></td>
              <td class="px-4 py-3" th:text="${demande.tel}"></td>
              <td class="px-4 py-3" th:text="${demande.dateDemande}"></td>
              <td class="px-4 py-3">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#roleModal" data-bs-backdrop="false">Valider la Demande</button>




                <div class="modal fade" id="roleModal" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="roleModal" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="roleModalLabel">Attribuer des rôles</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form th:action="@{/dashboard/validation/{id}(id=${demande.idDemande})}" method="post" id="roleForm">
                          <div class="field spaced">
                            <label class="label">Poste</label>
                            <div class="select icons-left">
                              <select name="poste" class="form-select">
                                <option value="">Selectionner un poste..</option>
                                <option th:each="poste : ${postes}" th:text="${poste.poste}" th:value="${poste.idPoste}"></option>
                              </select>
                            </div>
                          </div>
                          <div th:each="role : ${roles}">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" th:id="'role-' + ${role.idRole}" th:value="${role.idRole}" name="roles"/>
                              <label class="form-check-label" th:for="'role-' + ${role.idRole}" th:text="${role.role}"></label>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-success">Valider</button>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                      </div>
                    </div>
                  </div>
                </div>





                <form th:action="@{/dashboard/refus/{id}(id=${demande.idDemande})}" method="post" class="d-inline">
                  <button class="btn btn-danger" type="submit">
                    <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                  </button>
                </form>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>

<!-- Modal for image preview -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Image en grand</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img id="modal-image" src="" alt="Image" class="w-100 h-auto object-cover rounded-md">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for role assignment -->


<script src="/assets/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/Toast/Toast.min.js"></script>
<script th:inline="javascript">
  function openModal(imageSrc) {
    var modalImage = document.getElementById('modal-image');
    modalImage.src = imageSrc;
  }

  var successMessage = /*[[${success}]]*/ null;
  var errorMessage = /*[[${erreur}]]*/ null;

  if (successMessage) {
    Toastify({
      text: successMessage,
      duration: 3000,
      close: true,
      gravity: "top",
      position: "right",
      backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
      stopOnFocus: true,
    }).showToast();
  }

  if (errorMessage) {
    Toastify({
      text: errorMessage,
      duration: 3000,
      close: true,
      gravity: "top",
      position: "right",
      backgroundColor: "linear-gradient(to right, #ff5f6d, #ffc371)",
      stopOnFocus: true,
    }).showToast();
  }
</script>
</body>
</html>
